<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>brandon_regular.otf</string>
		<string>brandon_bold.otf</string>
	</array>

	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan documents.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to select documents from your photo library.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save scanned documents to your photo library.</string>
</dict>
</plist>
